/* // 病案首页 */
/* .hospital{ */

.content {
    /* height: 730px; */
    display: flex;
    justify-content: space-between;
}
.top-con{
    height: 60px;
    width: 100%;
    background:linear-gradient(45deg,rgba(10,115,207,1) 0%,rgba(16,142,233,1) 100%);
}
.personInfor {
    /* flex: 1; */
    background: #ffffff;
    /* padding: 20px; */
}

.isPerInfor {
    margin-bottom: 30px;
    line-height: 26px;
}

.isPerInfor input {
    height: 26px;
}

/* .tableIsmsg {

} */
.casebook {
    /* width: 1000px; */
    width: 98%;
    /* background: rgba(255, 255, 255, 1); */
    border-radius: 6px;
    /* margin-right: 20px; */
    margin: 0 auto;
}

.twoBtn {
    position: fixed;
    top: 50%;
    right: 5px;
}

.top {
    font-size: 14px;
    /* height: 34px; */
    background:rgba(255,255,255,1);
    border-radius: 6px 6px 0 0;
    padding: 15px;
}

.txt {
    margin-left: 42px;
}

.gray {
    color: #000;
}

.blue {
    color: rgba(16, 142, 233, 1);
}

.caseLine {
    border: 0px;
    outline: none;
    border-bottom: 1px solid #000;
    width: 50px;
}

.underline {
    border: 0px;
    outline: none;
    border-bottom: 1px solid #000;
    display: inline-block;
    width: 65px;
}
.noBoder {
    border: 0px;
}
.medicalRecord {
    border: 0px;
    outline: none;
    border-bottom: 1px solid #000;
}

.lenUnderline {
    width: 107px;
}

.showfirstPage {
    display: block;
}

.showAttachedpage {
    display: none;
}

.my {
    /* height:622px; */
    overflow-y: scroll;
    font-size: 12px;
    padding: 30px;
    margin-top: 20PX;
   
    background: #ffffff;
    /* padding-left: 36px; */
}
.myKui {
    /* height:622px; */
    overflow-y: scroll;
    font-size: 12px;
    padding: 30px;
    margin-top: 20PX;
   
    background: #ffffff;
    /* padding-left: 36px; */
}


.myTable {
    padding: 10px 10px 0 10px;
    width: 925px;
    margin: 0 auto;
    border-color: #000;
    border-bottom: 0;
}

.myTable td {
    border: none;
    padding-bottom: 8px;
}

.myTable .blanking {
    margin-right: 12px;
}

.myTable .fontBold {
    font-weight: 700;
}

.myTable .myInput {
    border-style: none;
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-bottom-color: #000;

}

.myTable1 {
    text-align: center;
    width: 925px;
    margin: 0 auto;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
}

.myTable1 td {
    line-height: 24px;
    border-left: 1px solid #000;
    border-top: 1px solid #000;
}

.myTable1 .fontBold {
    font-weight: 700;
    padding-left: 10px;
}

.myTable1 .fontStyle {
    font-weight: 700;
}

.myTable1 .textLeft {
    text-align: left;
}

.myTable1 .myInput {
    border-style: none;
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-bottom-color: #000;

}

.myTable1 .blanking {
    margin-right: 12px;
}

.myTable1 .tab1Tr>td {
    border-top: none;
}

.myTable2 {
    /* // padding: 10px 10px 0 10px; */
    width: 925px;
    border-color: #000;
    margin: 0 auto;
    border-bottom: 1px solid #000;
    border-top: none;
}

.myTable2 td {
    padding: 0 10px;
    border: none;
    padding-bottom: 8px;
}

.myTable2 .myTable2 .blanking {
    margin-right: 12px;
}

.myTable2 .fontBold {
    font-weight: 700;
}

.myTable2 .myInput {
    border-style: none;
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-bottom-color: #000;
}

/* // 附页 */
.addPage {
    width: 929px;
    margin: 0 auto;
    margin-top: 15px;
    font-size: 14px;
    line-height: 26px;
}

.first {
    /* margin-left: 25%; */
   text-align: center;
    font-weight: 500;
}

.myInput {
    border-style: none;
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-bottom-color: #000;
}

.second {
    /* margin-left: 35%; */
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 15px;
}

.third {
  text-align: center;
}
.sceuiesa {
    margin-left: 38%;
}
.fourth {
    border-bottom: none;
    padding-bottom: 6px;
    /* padding-left: 10px; */
    text-align: center;
}

.borderLine {
    border-bottom: 1px solid #000;
}

.fifth {
    padding-left: 10px;
    font-weight: 700;
    margin-top: 5px;
    font-size: 15px;
}

.publicTitle {
    width: 929px;
    margin: 0 auto;
    padding-left: 10px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 5px;
}

.my::-webkit-scrollbar {
    /*滚动条整体样式*/
    width: 15px;
    /*高宽分别对应横竖滚动条的尺寸*/
    height: 1px;
}

.my::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    border-radius: 8px;
    background: rgba(16, 142, 233, .15);
}

.my::-webkit-scrollbar-track {
    /*滚动条里面轨道*/
    border: 1px solid #ebeef5;
    border-radius: 8px;
}
.Baocun{
    font-size: 14px;
    background: none;
    color: #108EE9;
    padding: 9px 15px;
    outline: none;
    border-radius: 4px;
    margin-left: 10px;
    /* margin-right: 10px; */
    border: 1px solid #108EE9;
}
.rightsider{
    margin-top: 20px;
}
.rightsider li{
    height: 66px;
    font-size: 14px;
    color:rgba(51,51,51,1);
    line-height: 66px;
    text-align: center;
    position: relative;
}
.rightsider li.dIAN-sui{
    color: #108EE9;
    background: #E3E3E3;
}
.el-button+.el-button{
     margin-left: 0px;
}