* {
    margin: 0;
    padding: 0;
    list-style: none;
}
@font-face{
    font-family:'fonping'; 
    src: url(../font/PINGFANGREGULAR.TTF);
}
#app {
    /* width:1200px; */
    /* height: 937px; */
    /* background:rgba(0,0,0,.4); */
    position: relative;
    font-size: 12px;
}

.container {
    /* margin-top: 200px;
    margin-left: 200px; */
    width: 1000px;
    /* margin: 0 auto; */
    /*height: 650px;*/
    /*border-radius:13px;*/
    /*background: #fff; */
    /* position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%); */
}

/* logo图标 */
.logo {
    /* border-radius: 13px 13px 0 0; */
    padding: 10px 30px;
    background: #108EE9;
    position: relative;
}

.img {
    /* width: 100px; */
    height: 32px;
    margin-top: 8px;
}

.title {
    color: #fff;
    border-left: 1px solid #fff;
    padding-left: 10px;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 22px;
    margin-left: 8px;
    position: absolute;
    top: 23px;
    left: 147px;
}

/* 病案号等信息 */
.information {
    padding: 10px 30px;
    /* font-size: 14px; */
    line-height: 26px;
    position: relative;
    height: 100px;
}

.compatible {
    /* position: relative; */
    /*left: 660px;*/
    /*top: -77px;*/
    /* left: 138px; */
    /* top: -50px; */
    /* 兼容ie7 */
    /* +left: -14px; */
    /* +top: 3px; */
    /* float: right; */
    width: 200px;
}

.nameLat {
    letter-spacing: 10px;
}

.cost {
    letter-spacing: 7px;
}

.left {
    color: #666666;
}

.right {
    color: #108EE9;
}

/*入组情况*/
#guoupInfo {
    line-height: 13px;
    display: inline-block;
    height: 12px;
    width: 220px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
/* #guoupInfo:hover{
    text-overflow:inherit; 
    overflow: visible; 
    white-space: pre-line;
} */

/*主要操作*/
#operation {
    line-height: 13px;
    display: inline-block;
    height: 13px;
    width: 220px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
/* #operation:hover{
    text-overflow:inherit; 
    overflow: visible; 
    white-space: pre-line;
} */

#diagnose {
    line-height: 13px;
    display: inline-block;
    height: 13px;
    width: 220px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
/* #diagnose:hover{
    text-overflow:inherit; 
    overflow: visible; 
    white-space: pre-line;
} */

.grade {
    width: 100px;
    display: inline-block;
    text-align: center;
    color: #FF3B30;
    line-height: 84px;
    font-size: 44px;
    position: absolute;
    top: 13px;
    left: 855px;
    font-weight: 500;
}

.allGrade {
    position: absolute;
    top: 9px;
    left: 804px;
}

.code {
    position: absolute;
    top: 62px;
    left: 957px;
}

.line {
    border-bottom: 1px solid #ccc;
    margin-top: 96px;
}


/* tabbar切换 */
.tabbar {
    padding: 0 30px;
    line-height: 26px;
    /* width: 840px; */
    /* margin: 20px auto; */
}

.tab:after {
    content: '';
    display: block;
    clear: both;
}

.tab li {
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 4px;
    cursor: pointer;
    list-style: none;
    float: left;
    margin-right: 38px;
    background: #fff;
}

.tab li.active {
    color: #108EE9;
    border-bottom: 2px solid #108EE9;
}

.tab li .item {
    position: absolute;
    top: -8px;
    right: -25px;
    background: url(../image/msg2.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 23px;
    height: 23px;
    color: #fff;
    text-align: center;
    font-size: 12px;
    line-height: 18px;
}

.content {
    margin-top: 12px;
    color: #333;
    height: 350px;
    overflow-y: auto;
}

.dg {
    width: 940px;
    border-collapse: collapse;
    border-color: #ccc;
    text-align: left;
    line-height: 22px;
}

.leftText {
    text-align: center;
}

.content::-webkit-scrollbar {
    /*!*滚动条整体样式*!*/
    width: 15px;
    /*!*高宽分别对应横竖滚动条的尺寸*!*/
    height: 1px;
}

.content::-webkit-scrollbar-thumb {
    /*!*滚动条里面小方块*!*/
    border-radius: 8px;
    background: #D4DFEA;
}

.content::-webkit-scrollbar-track {
    /*!*滚动条里面轨道*!*/
    border: 1px solid #D4DFEA;
    /* border-radius: 8px; */
}

/* .dg tr:hover {
    background-color: #87cefa;
}

.dg tr input:hover {
    background-color: #87cefa;
} */

.dg td {
    border: 1px solid #ccc;
}

#drgDiagnoseFieldResult td {
    line-height: 45px;
}
#drgOperationFieldResult td {
    line-height: 45px;
}
.dg th {
    /* border: none; */
    border: 1px solid #DBEEFC;
    border-bottom: #ccc;
    line-height: 45px;
}

.content:after {
    content: '';
    display: block;
    clear: both;
}

.content li {
    width: 940px;
    /* height: 300px; */
    /* padding: 20px; */
    /* background: #f7f7f7; */
    display: none;
}

.lightHeight {
    color: red;
    line-height: 26px;
    font-size: 18px;
    margin-right: 11px;
    margin-bottom: 10px;
}

.blueTr {
    background:rgba(16,142,233,0.17);
}

.tipaImg {
    margin-top: 7px;
    margin-right: 5px;
    width: 14px;
    margin-left: 5px;
}

.inputContent {
    /* width:100%; */
    padding-left: 15px;
    line-height: 16px;
    border: none;
}
.inputCon {
    width: 98%;
    text-align: center;
    vertical-align: middle;
    line-height: 16px;
    border: none;
}

.moveUpOrDown {
    background-color: #5BC0DE;
    border-radius: 3px;
    cursor: pointer;
    color: #FFFFFF;
    padding: 2px;
    font-size: 12px;
}


/* 效验、提交 */
.Baocun {
    font-size: 14px;
    background: none;
    color: #108EE9;
    padding: 9px 15px;
    outline: none;
    border-radius: 4px;
    margin-left: 10px;
    /* margin-right: 10px; */
    border: 1px solid #108EE9;
}

.bgc {
    background-color: #108EE9;
    color: #fff;
    font-size: 14px;
    padding: 9px 15px;
    outline: none;
    border-radius: 4px;
    margin-left: 10px;
    /* margin-right: 10px; */
    border: 1px solid #108EE9;
}
#fullCheckResult{
    display:block;
    height:300px;
    overflow-x: hidden;
    overflow-y:scroll;
}
#logicCheckResult{
    display:block;
    height:300px;
    overflow-x:hidden ;
    overflow-y:scroll;
}
.theOne{
    border-radius:5px ;
    /* overflow: hidden; */
}
.oneTable thead,.oneTable>tbody tr {
    display:table;
    width:100%;
  /* overflow: hidden; */
    table-layout:fixed;
}
.oneTable td{
    border-bottom:1px solid #ccc;
    border-left:1px solid #ccc;
    border-top:none;
    border-right: none;
}


/* 弹窗下拉框 */


.dropDownList{
    /* padding: 1px 14px; */
    border: 1px solid #DBEEFC;
    border-radius:4px;
    line-height: 35px;
    overflow: hidden;
    /* width: 100%; */
    position: relative;
    margin: 2px;
}
#logicCheckResult input{
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-family: "fonping", "Segoe UI", "Lucida Grande", Helvetica, Arial, "Microsoft YaHei", "FreeSans, Arimo", "Droid Sans", "wenquanyi micro hei", "Hiragino Sans GB", "Hiragino Sans GB W3", "FontAwesome", sans-serif;
}
#fullCheckResult input{
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-family: "fonping", "Segoe UI", "Lucida Grande", Helvetica, Arial, "Microsoft YaHei", "FreeSans, Arimo", "Droid Sans", "wenquanyi micro hei", "Hiragino Sans GB", "Hiragino Sans GB W3", "FontAwesome", sans-serif;
}
#drgDiagnoseFieldResult input{
    height: 40px;
    line-height: 40px;
    font-family: "fonping", "Segoe UI", "Lucida Grande", Helvetica, Arial, "Microsoft YaHei", "FreeSans, Arimo", "Droid Sans", "wenquanyi micro hei", "Hiragino Sans GB", "Hiragino Sans GB W3", "FontAwesome", sans-serif;
}
span{
    font-family:"fonping", "Segoe UI", "Lucida Grande", Helvetica, Arial, "Microsoft YaHei", "FreeSans, Arimo", "Droid Sans", "wenquanyi micro hei", "Hiragino Sans GB", "Hiragino Sans GB W3", "FontAwesome", sans-serif;
}
button{
    font-family:"fonping", "Segoe UI", "Lucida Grande", Helvetica, Arial, "Microsoft YaHei", "FreeSans, Arimo", "Droid Sans", "wenquanyi micro hei", "Hiragino Sans GB", "Hiragino Sans GB W3", "FontAwesome", sans-serif;
}
.rightsider>li{
    position: relative;
}
.rightsider i{
   position: absolute;
   width: 20px;
   height: 20px;
   top:24px;
   left:88px;
}
.inhopital{
    background: url(../image/inhospital.png);
    background-size: 100% ;
}
.patiencode{
    background: url(../image/patiencode.png);
    background-size: 100% ;
}
.index{
    background: url(../image/index.png);
    background-size: 100% ;
}
.oupatiien{
    background: url(../image/oupatiien.png);
    background-size: 100% ; 
}
.chcksui{
    background: url(../image/chcksui.png);
    background-size: 142% ;
    background-position: 20px;
}
.shoushu{
    background: url(../image/shoushu.png);
    background-size: 100% ;
    
}
.cje{
    background: url(../image/cje.png);
    background-size: 100% ; 
}


/* 悬浮层 */
.popover {
    position: fixed;
    top: -47px;
    left: 24px;
    z-index: 99;
    min-width: 400px;
    max-width: 600px;
    box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
    background-color: #fff;
    font-size: 12px;
    padding: 10px 14px;
    border-radius: 6px;
    line-height: 20px;
    text-align: left;
    display: none;
}

.firstTd {
    position: relative;
}

.TrueMicsrosoft{
    font-family: 'Microsoft YaHei';
}